<h4 class="p-3">Журналы входного контроля материалов</h4>

<ul class="list-group mb-3">
  <li *ngFor="let journal of journalList" class="list-group-item d-flex justify-content-between align-items-center">
    {{ journal.incomingMaterialControlJournalTitle?.permanentObjectInfo }}
    <span>
      <button (click)="journalDetails(journal.uuid)"
              name="journal_details"
              class="btn btn-outline-primary btn-sm">
        Просмотреть
      </button>
    </span>
  </li>
</ul>

<div>
  <button (click)="createJournal()" class="btn btn-primary">Добавить</button>
</div>
