<h4 class="p-3">Саморегулируемые общества</h4>

<table class="table table-sm table-striped table-bordered">
  <thead>
  <tr>
    <th>Наименование</th>
    <th>ИНН</th>
    <th>ОГРН</th>
    <th></th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr *ngFor="let sro of sroList">
    <td> {{ sro.name }}</td>
    <td> {{ sro.inn }}</td>
    <td> {{ sro.ogrn }}</td>
    <td> </td>
  </tr>
  </tbody>
</table>

<div>
  <button (click)="createSro()" class="btn btn-primary">Добавить</button>
</div>
