<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="home" class="nav-link px-2 text-white">Home</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 bg-body-tertiary p-3">
    <router-outlet name="navbar"></router-outlet>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
