<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 bg-body-tertiary p-3">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Nuthatch</span>
      </a>
      <hr>
      <ul class="nav flex-column">

        <li class="nav-item">
          <a href="/journal-list" class="nav-link link-body-emphasis" aria-current="page">
            Журнал входного контроля материалов
          </a>
        </li>

        <li class="nav-item">
          <a href="/representative-list" class="nav-link link-body-emphasis" aria-current="page">
            Представители
          </a>
        </li>

        <li class="nav-item dropdown mb-1">
          <a class="nav-link link-body-emphasis dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Организации
          </a>
          <ul class="dropdown-menu">
            <li><a href="/legal-entity-list" class="dropdown-item">Юридические лица</a></li>
            <li><a href="/individual-entrepreneur-list" class="dropdown-item">Индивидуальные предприниматели</a></li>
            <li><a href="/individual-list" class="dropdown-item">Физические лица</a></li>
            <li><a href="/sro-list" class="dropdown-item">Саморегулируемые общества</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown mb-1">
          <a class="nav-link link-body-emphasis dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Документы
          </a>
          <ul class="dropdown-menu">
            <li><a href="/document-list" class="dropdown-item">Перечень</a></li>
            <li><a href="/doctype-list" class="dropdown-item">Типы</a></li>
          </ul>
        </li>

<!--        <li class="nav-item">-->
<!--          <a href="/address-list" class="nav-link link-body-emphasis" aria-current="page">-->
<!--            Адреса-->
<!--          </a>-->
<!--        </li>-->

      </ul>
    </div>

    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

