<div class="card">
  <div class="card-header  text-center">
    Добавление представителя
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Left column -->
        <div class="col-sm-6">
          <div class="mb-3">
            <h6>ФИО представителя</h6>
          </div>

          <div class="form-group mb-3">
            <label for="last_name" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="last_name"
                   [ngModel]="fullNameGroup.lastName"
                   (ngModelChange)="fullNameGroup.lastName = $event"
                   name="last_name">
          </div>

          <div class="form-group mb-3">
            <label for="first_name" class="form-label">Имя</label>
            <input type="text" class="form-control" id="first_name"
                   [ngModel]="fullNameGroup.firstName"
                   (ngModelChange)="fullNameGroup.firstName = $event"
                   name="first_name">
          </div>

          <div class="form-group mb-3">
            <label for="middle_name" class="form-label">Отчество</label>
            <input type="text" class="form-control" id="middle_name"
                   [ngModel]="fullNameGroup.middleName"
                   (ngModelChange)="fullNameGroup.middleName = $event"
                   name="middle_name">
          </div>

          <div class="input-form mb-3">
            <label for="representative_position" class="form-label">Должность</label>
            <div class="input-group">
              <input type="text" class="form-control" id="representative_position"
                     [ngModel]="representative.position"
                     (ngModelChange)="representative.position = $event"
                     name="representative_position">
            </div>
          </div>

          <div class="input-form mb-3">
            <label for="representative_nostroy_number" class="form-label">
              Идентификационный номер в реестре специалистов в области строительства
            </label>
            <div class="input-group">
              <input type="text" class="form-control" id="representative_nostroy_number"
                     [ngModel]="representative.nostroyNumber"
                     (ngModelChange)="representative.nostroyNumber = $event"
                     name="representative_nostroy_number">
            </div>
          </div>
        </div>

        <!-- Right column -->
        <div class="col-sm-6">
          <div class="mb-3">
            <h6>Является представителем:</h6>
          </div>

          <!--          TODO: Выбор организации -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                   [checked]="isLegalEntityRepresentative"
                   (change)="isLegalEntityRepresentative = !isLegalEntityRepresentative" >
            <label class="form-check-label" for="flexRadioDefault1">
              Юридического лица
            </label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                   [checked]="!isLegalEntityRepresentative"
                   (change)="isLegalEntityRepresentative = !isLegalEntityRepresentative">
            <label class="form-check-label" for="flexRadioDefault2">
              Индивидуального предпринимателя
            </label>
          </div>

          <!-- Select для ЮЛ-->
          <div *ngIf="isLegalEntityRepresentative" class="form-group mb-3">
            <select class="form-select"
                    [ngModel]="selectedLegalEntity"
                    (ngModelChange)="onChangeLegalEntity($event)"
                    name="legal_entity_select">
              <option *ngFor="let legalEntity of legalEntityList"
                      [ngValue]="legalEntity"
                      id="legal_entity_select">
                {{ legalEntity.shortName }}, ИНН {{ legalEntity.inn }}
              </option>
            </select>
            <div id="legal_entity_help" class="form-text">
              Выберите организацию (юридическое лицр)
            </div>
          </div>

          <!-- Select для ИП-->
          <div *ngIf="!isLegalEntityRepresentative" class="form-group mb-3">
            <select class="form-select"
                    [ngModel]="selectedEntrepreneur"
                    (ngModelChange)="onChangeEntrepreneur($event)"
                    name="entrepreneur_select">
              <option *ngFor="let entrepreneur of individualEntrepreneurList"
                      [ngValue]="entrepreneur"
                      id="entrepreneur_select">
                {{ entrepreneur.fullNameGroup?.lastName }},
                {{ entrepreneur.fullNameGroup?.firstName }},
                {{ entrepreneur.fullNameGroup?.middleName }},
                ИНН {{ entrepreneur.inn }}
              </option>
            </select>
            <div id="entrepreneur_help" class="form-text">
              Выберите индивидуального предпринимателя
            </div>
          </div>

          <div class="mb-3">
            <h6>Распорядительный документ, подтверждающий полномочия</h6>
          </div>
          <div class="form-group mb-3">
            <select class="form-select"
                    [ngModel]="selectedDocument"
                    (ngModelChange)="onChangeDocument($event)"
                    name="document_select">
              <option *ngFor="let document of documentList"
                      [ngValue]="document"
                      id="document_select">
                {{ document.documentType?.typeOfDocument }}
              </option>
            </select>
            <div id="document_select_help" class="form-text">
              Выберите документ
            </div>
          </div>
        </div>

      </div>
      <button class="btn btn-success" type="submit">Добавить</button>
    </form>
  </div>
</div>
