<div class="container my-3">
  <div class="clearfix">
<!--    <img class="col-md-5 float-md-end m-4 rounded"-->
<!--         src="https://bcomms-static.storage.yandexcloud.net/hero_02th.jpg" alt="Hero">-->
    <img class="col-md-5 float-md-end m-4 rounded"
         src="https://bcomms-static.storage.yandexcloud.net/hero_01.jpeg" alt="Hero">
    <h5 class="display-5 mb-2">Добрый день, уважаемые коллеги</h5>
    <p class="lead">
      Сегодня я хочу рассказать вам о важности и методах ведения документации на строительном объекте.
      Это не только юридическое требование, но и ключевой элемент успешного управления проектами
    </p>
    <h6> Значение документации </h6>
    <p> Строительная документация служит основой для всех этапов строительства, от планирования до
      сдачи объекта в эксплуатацию. Она обеспечивает прозрачность процессов и является доказательством выполнения
      работ в соответствии с нормами </p>
    <h6> Типы документов </h6>
    <p> К основным типам документов относятся проектная документация, журналы работ, акты выполненных
      работ, техническая документация, а также различные соглашения и договоры</p>
    <h6> Электронный документооборот </h6>
    <p> Современные технологии позволяют автоматизировать процесс ведения документации, что
      значительно упрощает управление документами и повышает эффективность работы на объекте</p>
    <h6> Риски и ответственность </h6>
    <p> Неправильное ведение документации может привести к юридическим спорам, штрафам и даже
      приостановке строительства. Поэтому крайне важно подходить к этому процессу с полной ответственностью</p>
    <p> Качественное ведение документации — это не просто следование букве
      закона, но и залог безопасности и надежности строительного проекта</p>
  </div>


</div>
