<h4 class="p-3">Типы документов</h4>

<table class="table table-sm table-striped table-bordered">
  <thead>
  <tr>
    <th>Тип документа</th>
    <th>Поля документа</th>
    <th>Примечание</th>
    <th></th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr *ngFor="let docType of docTypes">
    <td> {{ docType.typeOfDocument }}</td>
    <td> {{ docType.documentFields }}</td>
    <td> {{ docType.description }}</td>
    <td></td>
  </tr>
  </tbody>
</table>
<div>
  <button (click)="createDoctype()" class="btn btn-primary">Добавить</button>
</div>

